.l-item-box {
    width: 100px;
    height: 148px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    box-sizing: border-box;

    .l-item-img{
        display: block;
        width: 37px;
        height: 37px;
    }
}