.article {
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;
    .article-brief {
        display: block;
        width: 200px;
        height: 150px;
        border: 0;
        outline: none;
    }
    .article-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 36px;
    }
    .article-title {
        font-size: 24px;
        color: #48515b;
    }
    .article-context {
        font-size: 13px;
        color: #48515b;
    }
}